body {
	background-image: url(../images/crossword.png);
	max-width: 900px;
    font-size: 20px;
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 300;
}
.form-horizontal {
  margin-top: 100px; 

}
.btn-default,
.btn-danger {
	float: right;
}
.log {
    margin-left: 200px;
}

#flashA, #flashC,
#flashB, #flashM, #flashF {
    height: 50px;
    width: 250px;
    background-color: #CCC;
    border : 1px black solid;
}
.word-img {
	border-radius: 50%;
	height: 60px;
	width: 60px;
}
.pull-left {
	float: left;
}
.flip {
	width: 150px;
    height: 80px;
    display: inline-block;
    padding: 2px;
    margin: 50px auto;
    max-width: 50%;
}
.flip .cards.flipped {
	-webkit-transform: rotatex(-180deg);
}
.flip .cards {
	width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.3s;
}
.flip .cards .face {
    font-family: Georgia;
    font-size: 1.5em;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 80px;
    position: absolute;
}
.flip .cards .front {
    background: black;
    color: white;
    cursor: pointer;
    /*position: absolute;
*/
}
.flip .cards .back {
    background: white;
    color: black;
    cursor: pointer;
    -webkit-transform: rotatex(-180deg);
}
