body {
	background-image: url(../images/crossword.png);
    font-size: 20px;
    font-family:'Raleway', sans-serif;
    font-weight: 300;

}
.text-justify{
    margin-top: 0.5em;
    margin-left: 150px;
    margin-right: 150px;
    color: #939598;
    
}

#slides {
  margin-bottom: 100px;
  margin-top: 60px;
  position: relative;
  text-align: center;
  background: #e9e9e9;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  max-width: 1800px; 
}

img { 
  width: 700px;
  height: 250px;
  border-radius: 2em;

}


.form-horizontal {
  margin-top: 100px; 

}
/*Header*/
header {
    background-color: #BAE241;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 20px;
    z-index: 100;
}
header nav {
    float: right;
}
header h3 {
    margin-top: 0;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    
}
/*footer*/
footer {
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;  
    z-index: 1;
    color: #ccc;
    text-align: center;
    background-color: #BAE241;
    padding: 10px;
    font-size: 0.8em;
   
}
/*flashcards*/
#ctrlbtn {
    float: right;
    font-size: larger;
    margin-top: 10px;
}
.log {
    margin-left: 200px;
}
#flashcard {
    color: #939598;
}

#flashA, #flashC,
#flashB, #flashM, #flashF {
    height: 50px;
    width: 250px;
    background-color: #CCC;
    border : 2px #CCC solid;
    border-radius: 5px;
    color: #f68b1f;
    text-align: center;
}
.pull-left {
    float: left;
}

/*Flip cards*/
.word-img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.flip {
	width: 150px;
    height: 80px;
    display: inline-block;
    padding: 2px;
    margin: 0 100px, auto;
    max-width: 50%;
}  

.flip .cards.flipped 
{
	-webkit-transform: rotatex(180deg);
}
.flip .cards {
	width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.3s;
}
.flip .cards .face {
    font-family: Georgia;
    font-size: 1.5em;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 80px;
    position: absolute;
}
.flip .cards .front {
    background: black;
    color: white;
    cursor: pointer;
    border-top-right-radius: 20%;

}
.flip .cards .back 
{
    background: white;
    color: black;
    cursor: pointer;
    -webkit-transform: rotatex(180deg);
}
#quizp {
    /*//margin-left: 30px;*/
}
/*Quiz colors*/
#main {
    width:600px;
    height:200px;
    position:relative;
}
#dropbox {
            position: absolute;
            width: 500px;
            min-height: 200px;
            border: 2px solid black;
}
#colorDiv {
            position: absolute;
            width: 120px;
            min-height: 200px;
            border: 2px solid black;
            margin: 3px;
            margin-top: 10px;
}
 div.colorp {
            float: left;
            min-width: 160px;
            min-height: 80px;
            border: 2px solid green;
            margin: 3px;
            margin-top: 10px;
            cursor: pointer;
            /*font-weight: bold;*/
}
#colorDiv {
    left: 350px;
}
ul li img {
    height:20px;
    widows: 10px;
}
#colorImg td{
    height: 50px;
    width: 50px;
}
#dropbox {
        /*left: 424px;
}
*/
