<br>
<div class="container">
  <br><br>
  <div>
    <tr>
      <td><a class="btn btn-primary" href="/#/vocabulary/animals">Animals</a></td>
      <td><a class="btn btn-success" href="/#/flashcards/AnimalsCard">FlashCard</a></td>
    </tr>
 </div>
 <h3 class="text-center"><strong>Let's read about animals and then have fun with flashcards</strong></h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Tigrigna</th>
      <th>ትግርኛ</th>
      <th>English</th>
      <th>Image</th>
    </tr>  
  </thead>
    <tbody>
      <tr ng-repeat="(animalId,  animal) in vocal.animals">  
        <td>{{animal.Tigrigna}}</td>
        <td>{{animal.Img}}</td>
        <td>{{animal.English}}</td>
        <td><img class="word-img" ng-src="{{animal.Image}}"></td>
      </tr>
    </tbody>
</table>



