<div class="container">
    <h1><strong> <a class="btn btn-primary" href="/#/home">Vocabulary </a></strong></h1>
    <tr>
      <td><a class="btn btn-primary" href="/#/vocabulary">Colors</a></td>
      <td><a class="btn btn-primary" href="/#/vocabulary/animals">Animals</a></td>
      <td><a class="btn btn-primary" href="/#/vocabulary/Days&Months">Days&Months</a></td>
      <td><a class="btn btn-primary" href="/#/vocabulary/fruits">Fruits</a></td>
      <td><a class="btn btn-primary" href="/#/vocabulary/body&face">Body&Face</a></td>
    </tr>
 </div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Tigrigna</th>
      <th>ትግርኛ</th>
      <th>English</th>
      <th>Image</th>
      <!-- <th>Show</th> -->
    </tr>  
  </thead>
    <tbody>
      <tr ng-repeat="(animalId,  animal) in vocal.animals">  
        <td>{{animal.Tigrigna}}</td>
        <td>{{animal.Img}}</td>
        <td>{{animal.English}}</td>
        <td><img class="word-img" ng-src="{{animal.Image}}"></td>
        <td>
        <!-- <a class="btn btn-primary" href="/#/vocabulary/animal/{{animalId}}">Show</a> -->
        
        </td>
      </tr>
    </tbody>
        <td >
          <a  class="btn btn-primary" href="/#/cards/flashcards">Flash Cards</a>
        </td>
</table>



