<br><br><br>
<div class="container">
  <h4 class="text-center"><strong>Click the cards tab</strong></h4>
  <div id="homebtn" >
      <a><img src="images/VOCABULARY.png" class="word-img"></a>
         <label>Vocabulary</label><br>
      <a><img src="images/GREETINGS.png" class="word-img"></a>
         <label>Greetings</label><br>
      <a  href="/#/cards/flip"><img src="images/CARDS.png" class="word-img"></a>
        <label>Cards</label><br>
      <a><img src="images/QUIZ.png" class="word-img"></a>
        <label>Quiz</label>
  </div>
</div>













