<div class="container">
<br><br>
    <div id="ctrlbtn">
    <a  class="btn btn-default" href="/#/greetings">back</a>
    <a  class="btn btn-default" href="/#/cards/flashcards">next</a>
  </div>
  <div>
    <h1 ng-show="user"> {{user.password.email}}'s Learning progress</h1>
    <a class="btn btn-primary" href="/#/vocabulary" ng-show="user">Vocabulary</a>
    <a class="btn btn-primary" href="/#/greetings" ng-show="user">Greetings</a>
    <a class="btn btn-primary" href="/#/cards" ng-show="user">Cards</a>
    <a class="btn btn-primary" href="/#/quiz" ng-show="user">Quiz</a>
  </div>
  <br><br>
<!-- <div class="container">
    <h1> Cards </h1> -->
    <tr> 
      <td><a class="btn btn-primary" href="/#/cards/flashcards">FlashCards</a></td>
      <td><a class="btn btn-primary" href="/#/cards/flip">Flip</a></td>
      
    </tr>
<!--  </div> -->
