<br><br><br>
<div  id="clrflash">
  <h4 class="text-center"><strong>Have fun with color flashcard</strong></h4>
  <table id="flashcard">  <br>
     <p>English to Tigrigna</p>
     <div id="flashC"></div>
     <div class="pull-left">
         <div id="btn-add" class="btn btn-primary" ng-click="cardCtrl.nextcard('C')">next card </div> 
         <div id="btn-answer" class="btn btn-primary"  ng-click="cardCtrl.answercard('C')">answer</div>
         <div id="btn-clear" class="btn btn-primary" ng-click="cardCtrl.resetcard('C')">reset-card</div>
     </div>  
  </table>
   <div id="ctrlbtn">
        <a class="btn btn-success" href="/#/vocabulary/VocabularyAnimals">Continue</a>    
   </div>
</div>