<div class="container">
<br><br><br><br>
  <div>
    <tr>
      <td><a class="btn btn-primary" href="/#/vocabulary/colors">Colors</a></td>
      <td><a class="btn btn-success" href="/#/flashcards/ColorsCard">FlashCard</a></td>
    </tr>
 </div>
 <h3 class="text-center"><strong>Let's read about colors and have fun with flashcards</strong></h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Tigrigna</th>
      <th>ትግርኛ</th>
      <th>English</th>
      <th>Image</th>
    </tr>  
  </thead>
    <tbody>
      <tr ng-repeat="(colorId,  color) in vocal.colors">  
        <td>{{color.Tigrigna}}</td>
        <td>{{color.Img}}</td>
        <td>{{color.English}}</td>
        <td><img class="word-img" ng-src="{{color.Image}}"></td>
      </tr>
    </tbody>
</table>