<br><br><br>
<div class="container" id="clrflash">
    <h4 class="text-center"><strong>Have fun with Months flashcard</strong></h4>
    <table id="flashcard">  
        <p>English to Tigrigna</p>
        <div id="flashM"></div> 
        <div class="pull-left">
            <div id="btn-add" class="btn btn-primary" ng-click="cardCtrl.nextcard('M')">next card </div> 
            <div id="btn-answer" class="btn btn-primary"  ng-click="cardCtrl.answercard('M')">answer</div>
            <div id="btn-clear" class="btn btn-primary" ng-click="cardCtrl.resetcard('M')">reset-card</div>
        </div>
        <div id="ctrlbtn">
          <a class="btn btn-success" href="/#/vocabulary/vocabularyfruits">Continue</a>    
        </div>
    </table>
</div>
 
  

  