<br><br><br>
<div class="container" id="clrflash">
<h4 class="text-center"><strong>Have fun with fruits flashcard</strong></h4>
  <!-- <div id="ctrlbtn">
    <a class="btn btn-default" href="/#/vocabulary/bodyface">next</a>    
  </div> -->
  <table id="flashcard">
    <!-- <h3><strong>Fruits</strong></h3> -->
      <p>English to Tigrigna</p>
      <div id="flashF" ></div>
        <div class="pull-left">
           <div id="btn-add" class="btn btn-primary" ng-click="cardCtrl.nextcard('F')">next card </div> 
           <div id="btn-answer" class="btn btn-primary"  ng-click="cardCtrl.answercard('F')">answer</div>
           <div id="btn-clear" class="btn btn-primary" ng-click="cardCtrl.resetcard('F')">reset-card</div>
        </div>
  </table>
  <div id="ctrlbtn">
    <a class="btn btn-success" href="/#/vocabulary/bodyface">Continue</a>    
  </div>
</div>