<table class="table table-hover">
  <thead>
    <tr>
      <th>Tigrigna</th>
      <th>English</th>
      <th>Image</th>
      <th>Show</th>
    </tr>  
  </thead>
    <tbody>
      <tr ng-repeat="(generalId,  general) in general.vocabularies">  
        <td>{{general.tigrigna}}</td>
        <td>{{general.english}}</td>
        <td><img class="word-img" ng-src="{{genearl.image}}"></td>
        <td><a class="btn btn-primary" href="/#/{{generalId}}/show">Show</a></td>
      </tr>
    </tbody>
</table>