<div class="container">
<br><br>
  <h3 class="text-center"><strong>Let's talk about greetings</strong></h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Tigrigna</th>
      <th>English</th>
    </tr>  
  </thead>
  <tbody>
    <tr ng-repeat="(greetingId, greeting) in greetCtrl.greetings">
  	  <td>{{greeting.Tigrigna}}</td>
  	  <td>{{greeting.English}}</td>
  	</tr>
  </tbody>
  <div id="ctrlbtn">
    <a class="btn btn-success" href="/#/cards">Continue</a>    
  </div>
</table>
</div>


