  <div class="container">
  <br><br>
    <a class="btn btn-primary" href="/#/vocabulary" ng-show="user">Vocabulary</a>
    <a class="btn btn-primary" href="/#/greetings" ng-show="user">Greetings</a>
    <a class="btn btn-primary" href="/#/cards" ng-show="user">Cards</a>
    <a class="btn btn-primary" href="/#/quiz" ng-show="user">Quiz</a>
  
  <br>
    <h4 class="text-center">Start your lesson by clicking the vocabulary tab</h4>
  <br>
    <h3 class="text-center">Alphabets</h3>
  <br>
  <tr>
    <td><img src= "../images/alphabets.png" style="width: 500px; height: 500px; border-radius: 0"></td>
    <td></td>
    <td><img src= "../images/fidelat.jpg" style="width: 600px; height: 500px; border-radius: 0"></td>
  </tr>
<!-- <tbody>
<tr>
  <td>
   <ul>
 -->
<!-- <table height="400" width="45%" align="left"> -->
<!-- <tbody><tr>
<td> </td>
<td>e</td>
<td>u</td>
<td>i</td>

<td>a</td>
<td>ie</td>
<td>'</td>
<td>o</td>
<td> </td>
<td> </td>
</tr>

<tr>
<td><a href="/alphabet/#/">h</a></td>

<td>ሀ</td>
<td>ሁ</td>
<td>ሂ</td>
<td>ሃ</td>
<td>ሄ</td>
<td>ህ</td>
<td>ሆ </td>
<td> </td>

</tr>

<tr>
<td><a href="alphabet/l.shtml">l</a></td>
<td>ለ</td>
<td>ሉ</td>
<td>ሊ</td>
<td>ላ</td>
<td>ሌ</td>
<td>ል</td>
<td>ሎ</td>
<td> </td>
<td> </td>

</tr>

<tr>
<td><a href="alphabet/h1.shtml">hh</a></td>
<td>ሐ</td>
<td>ሑ</td>
<td>ሒ</td>

<td>ሓ</td>
<td>ሔ</td>
<td>ሕ</td>
<td>ሖ</td>
<td> </td>
<td> </td>

</tr>

<tr>
<td><a href="alphabet/m.shtml">m</a></td>

<td>መ</td>
<td>ሙ</td>
<td>ሚ</td>
<td>ማ</td>
<td>ሜ</td>
<td>ም</td>
<td>ሞ</td>
<td> </td>
<td> </td>

</tr>

<tr>
<td><a href="alphabet/r.shtml">r</a></td>
<td>ረ</td>
<td>ሩ</td>
<td>ሪ</td>
<td>ራ</td>
<td>ሬ</td>
<td>ር</td>

<td>ሮ</td>
<td> </td>
<td> </td>

</tr>

<tr>
<td><a href="alphabet/s.shtml">s</a></td>
<td>ሰ</td>
<td>ሱ</td>
<td>ሲ</td>

<td>ሳ</td>
<td>ሴ</td>
<td>ስ</td>
<td>ሶ</td>
<td> </td>
<td> </td>

</tr>

<tr>
<td><a href="alphabet/sh.shtml">sh</a></td>

<td>ሸ</td>
<td>ሹ</td>
<td>ሺ</td>
<td>ሻ</td>
<td>ሼ</td>
<td>ሽ</td>
<td>ሾ</td>
<td> </td>
<td> </td>

</tr>

<tr>
<td><a href="alphabet/qe.shtml">q</a></td>
<td>ቀ</td>
<td>ቁ</td>
<td>ቂ</td>
<td>ቃ</td>
<td>ቄ</td>
<td>ቅ</td>

<td>ቆ</td>
<td> </td>
<td> </td>

</tr>

<tr>
<td><a href="alphabet/Q.shtml">qq</a></td>
<td>ቐ</td>
<td>ቑ</td>
<td>ቒ</td>

<td>ቓ</td>
<td>ቔ</td>
<td>ቕ</td>
<td>ቖ</td>
<td> </td>
<td> </td>

</tr>

<tr>
<td><a href="alphabet/b.shtml">b</a></td>

<td>በ</td>
<td>ቡ</td>
<td>ቢ</td>
<td>ባ</td>
<td>ቤ</td>
<td>ብ</td>
<td>ቦ</td>
<td> </td>
<td> </td>

</tr>

<tr>
<td><a href="alphabet/te.shtml">t</a></td>
<td>ተ</td>
<td>ቱ</td>
<td>ቲ</td>
<td>ታ</td>
<td>ቴ</td>
<td>ት</td>

<td>ቶ</td>
<td> </td>
<td> </td>

</tr>

<tr>
<td><a href="alphabet/che.shtml">ch</a></td>
<td>ቸ</td>
<td>ቹ</td>
<td>ቺ</td>

<td>ቻ</td>
<td>ቼ</td>
<td>ች</td>
<td>ቾ</td>
<td> </td>
<td> </td>

</tr>

<tr>
<td><a href="alphabet/n.shtml">n</a></td>

<td>ነ</td>
<td>ኑ</td>
<td>ኒ</td>
<td>ና</td>
<td>ኔ</td>
<td>ን</td>
<td>ኖ</td>
<td> </td>
<td> </td>

</tr>

<tr>
<td><a href="alphabet/ny.shtml">ny</a></td>
<td>ኘ</td>
<td>ኙ</td>
<td>ኚ</td>
<td>ኛ</td>
<td>ኜ</td>
<td>ኝ</td>

<td>ኞ</td>
<td> </td>
<td> </td>

</tr>

<tr>
<td><a href="alphabet/ee.shtml">-</a></td>
<td>አ</td>
<td>ኡ</td>
<td>ኢ</td>

<td>ኣ</td>
<td>ኤ</td>
<td>እ</td>
<td>ኦ</td>
<td> </td>
<td> </td>

</tr>

<tr>
<td><a href="alphabet/k.shtml">k</a></td>

<td>ከ</td>
<td>ኩ</td>
<td>ኪ</td>
<td>ካ</td>
<td>ኬ</td>
<td>ክ</td>
<td>ኮ</td>
<td> </td>
<td> </td>

</tr>

<tr>
<td><a href="alphabet/kh.shtml">kh</a></td>
<td>ኸ</td>
<td>ኹ</td>
<td>ኺ</td>
<td>ኻ</td>
<td>ኼ</td>
<td>ኽ</td>

<td>ኾ</td>
<td> </td>
<td> </td>

</tr>

<tr>
<td><a href="alphabet/w.shtml">w</a></td>
<td>ወ</td>
<td>ዉ</td>
<td>ዊ</td>

<td>ዋ</td>
<td>ዌ</td>
<td>ው</td>
<td>ዎ</td>
<td> </td>
<td> </td>

</tr>

<tr>
<td><a href="alphabet/E.shtml">'</a></td>

<td>ዐ</td>
<td>ዑ</td>
<td>ዒ</td>
<td>ዓ</td>
<td>ዔ</td>
<td>ዕ</td>
<td>ዖ</td>
<td> </td>
<td> </td>

</tr>

<tr>
<td><a href="alphabet/z.shtml">z</a></td>
<td>ዘ</td>
<td>ዙ</td>
<td>ዚ</td>
<td>ዛ</td>
<td>ዜ</td>
<td>ዝ</td>

<td>ዞ</td>
<td> </td>
<td> </td>

</tr>

<tr>
<td><a href="alphabet/zh.shtml">zh</a></td>
<td>ዠ</td>
<td>ዡ</td>
<td>ዢ</td>

<td>ዣ</td>
<td>ዤ</td>
<td>ዥ</td>
<td>ዦ</td>
<td> </td>
<td> </td>

</tr>

</tbody></table>
</ul>


<table height="400" width="45%'" align="left">


<tbody><tr>
<td> </td>
<td>e</td>
<td>u</td>
<td>i</td>
<td>a</td>
<td>ie</td>
<td>'</td>
<td>o</td>
<td> </td>
<td> </td>
</tr>

<tr>
<td><a href="alphabet/y.shtml">y</a></td>
<td>የ</td>
<td>ዩ</td>

<td>ዪ</td>
<td>ያ</td>
<td>ዬ</td>
<td>ይ</td>
<td>ዮ</td>
<td> </td>
<td> </td>
</tr>

<tr>

<td><a href="alphabet/d.shtml">d</a></td>
<td>ደ</td>
<td>ዱ</td>
<td>ዲ</td>
<td>ዳ</td>
<td>ዴ</td>
<td>ድ</td>
<td>ዶ</td>
</tr>

<tr>
<td><a href="alphabet/j.shtml">j</a></td>
<td>ጀ</td>
<td>ጁ</td>
<td>ጂ</td>
<td>ጃ</td>
<td>ጄ</td>
<td>ጅ</td>
<td>ጆ</td>

</tr>

<tr>
<td><a href="alphabet/g.shtml">g</a></td>
<td>ገ</td>
<td>ጉ</td>
<td>ጊ</td>
<td>ጋ</td>
<td>ጌ</td>
<td>ግ</td>

<td>ጎ</td>
</tr>

<tr>
<td><a href="alphabet/T.shtml">tt</a></td>
<td>ጠ</td>
<td>ጡ</td>
<td>ጢ</td>
<td>ጣ</td>
<td>ጤ</td>

<td>ጥ</td>
<td>ጦ</td>
</tr>

<tr>
<td><a href="alphabet/Ch.shtml">cch</a></td>
<td>ጨ</td>
<td>ጩ</td>
<td>ጪ</td>
<td>ጫ</td>

<td>ጬ</td>
<td>ጭ</td>
<td>ጮ</td>
</tr>

<tr>
<td><a href="alphabet/P.shtml">pp</a></td>
<td>ጰ</td>
<td>ጱ</td>
<td>ጲ</td>

<td>ጳ</td>
<td>ጴ</td>
<td>ጵ</td>
<td>ጶ</td>
</tr>

<tr>
<td><a href="alphabet/ts.shtml">ts</a></td>
<td>ጸ</td>
<td>ጹ</td>

<td>ጺ</td>
<td>ጻ</td>
<td>ጼ</td>
<td>ጽ</td>
<td>ጾ</td>
</tr>

<tr>
<td><a href="alphabet/f.shtml">f</a></td>
<td>ፈ</td>

<td>ፉ</td>
<td>ፊ</td>
<td>ፋ</td>
<td>ፌ</td>
<td>ፍ</td>
<td>ፎ</td>
</tr>

<tr>
<td><a href="alphabet/pe.shtml">p</a></td>

<td>ፐ</td>
<td>ፑ</td>
<td>ፒ</td>
<td>ፓ</td>
<td>ፔ</td>
<td>ፕ</td>
<td>ፖ</td>
</tr>

<tr>

<td><a href="alphabet/v.shtml">v</a></td>
<td>ቨ</td>
<td>ቩ</td>
<td>ቪ</td>
<td>ቫ</td>
<td>ቬ</td>
<td>ቭ</td>
<td>ቮ</td>
</tr>

<tr>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>

<tr>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
</tbody></table> -->
</div>
