<br><br><br>
<div class="container">
  <h3 class="text-center"><strong>Start your lesson by clicking the vocabulary tab</strong></h3>
    <div id="homebtn" >
         <a href="/#/vocabulary"><img src="images/VOCABULARY.png" class="word-img"></a>
         <label>Vocabulary</label><br>
         <a><img src="images/greetingdisabled.png" class="word-img"></a>
         <label>Greetings</label><br>
         <a ng-show="user"><img src="images/CARDSDISABLED.png" class="word-img"></a>
         <label>Cards</label><br>
         <a><img src="images/QUIZDISABLED.png" class="word-img"></a>
         <label>Quiz</label>
    </div>
</div>