  <div class="container">
  <br><br>
    <h1 ng-show="user"> {{user.password.email}}'s Learning progress</h1>
    <a class="btn btn-primary" href="/#/vocabulary" ng-show="user">Vocabulary</a>
    <a class="btn btn-primary" href="/#/greetings" ng-show="user">Greetings</a>
    <a class="btn btn-primary" href="/#/cards" ng-show="user">Cards</a>
    <a class="btn btn-primary" href="/#/quiz" ng-show="user">Quiz</a>
  </div>
  <br><br>

  <h4 class="text-center">Start your lesson by clicking the vocabulary tab</h4>
