<h1 class="text-center"><mark><strong>Language learning</strong></mark></h1>
<br><br>
<div>
<p  class="text-justify">This is an application that teaches Tigrigna language for kids between 4 - 5 years old. It covers the basic words that makes it a first step to be familiar with the language and  have little conversation with their parents. This app works in a way;</p>
<ul >
  <li><strong>Register</strong>: get register to create a user account</li>
  <li><strong>Login</strong>: login to your account to see your progress</li>
  <li><strong>Vocabulary</strong>: get introduced with basic words</li>
  <li><strong>Greetings</strong>: study daily greetings</li>
  <li><strong>Cards</strong>: memorize what you learned</li>
  <li><strong>Quiz</strong>: evaluate how far you studied</li>
</ul>
<ul>
  Future plan
  <li>Add the alphabets using tigrigna fonts,</li>
  <li>Add higher levels accordingly</li>
</ul>
<p  class="text-justify">Have fun in learning the language and contact us through this email for any feedback <a href="mailto:#">feedback@languagelearningapp.com</a></p>
</div>


