<div>
  <div id="slides">
  <div>
    <carousel interval="myInterval">
      <slide ng-repeat="(slideId,  slide) in carouselCtrl.slides" active="slide.active">
        <img ng-src="{{slide.Image}}" style="margin:auto;" >
        <div class="carousel-caption">
          <h4>Slide {{$index +1}}</h4>
        </div>
      </slide>
    </carousel>
  </div>
</div>
<div class="container-fluid">
<p  class="text-justify">This is an application that teaches Tigrigna language for kids between 4 - 5 years old. It covers the basic words that makes it a first step to be familiar with the language and  have little conversation with their parents.<br><br>
Have fun in learning the language and contact us through the below email for any feedback!! </p>
</div>
