<h1 class="text-center"><mark><strong>Language learning</strong></mark></h1>
<div>
<p  class="text-justify">This is an application that teaches Tigrigna language for kids between 4 - 6 years old. It covers the basic words that makes it a first step to be familiar with the language and  have little conversation with their parents. This app works in a way;</p>
<ul >
  <li>Register: get register to create a user account</li>
  <li>Login: login to your account to see your progress</li>
  <li>Vocabulary: get introduced with basic words</li>
  <li>Greetings: study daily greetings</li>
  <li>Cards: memorize what you learned</li>
  <li>Quiz: evaluate how far you studied</li>
</ul>
<ul>
  Future plan
  <li>Add the alphabets using tigrigna fonts,</li>
  <li>Add higher levels accordingly</li>
</ul>
<p  class="text-justify">Have fun in learning the language and contact us through this email for any feedback <a href="mailto:#">feedback@languagelearningapp.com</a></p>
</div>


