<div class="container">
<br><br>
    <div id="ctrlbtn">
      <a  class="btn btn-default" href="/#/quiz/quiz2">back</a>
      <a  class="btn btn-default" href="/#/finalpage">next</a>
    </div>
    <div>
     <br><br>
     <h1 ng-show="user"> {{user.password.email}}'s Learning progress</h1>
     <a class="btn btn-primary" href="/#/quiz" ng-show="user">Quiz</a>
  </div>
<div>
<tr>
      <td><a class="btn btn-primary" href="/#/quiz/quiz1">Qiuz1</a></td>
      <td><a class="btn btn-primary" href="/#/quiz/quiz2">Quiz2</a></td>
      <td><a class="btn btn-primary" href="/#/quiz/quiz3">Quiz3</a></td>
</tr>
</div>   
<h3><strong>colors</strong></h3>
<h4>Match by dragging to the right spot</h4>
<div ng-repeat="color in quiz.colors">
   <form name="myFormC"  ng-submit="quiz.check(color.Tigrigna)">
       <div dd-draggable="true" style="height: 100px; width: 100px; display: inline-block">
         <img class="word-img" ng-src="{{color.Image}}">
       </div> 
       <div ng-model="form.color" style="height: 100px; width: 100px; background-color: lightgrey; display: inline-block" dd-drop-target="true">
       </div>
       <span>{{color.Tigrigna}}</span>
   </form>
</div>
<button class="btn btn-inf btn-lg" type="submit">Check</button>
   <div> {{quiz.countRightColor}}</div>


































<!-- <div ng-repeat="color in quiz.colors">
   <form name="myFormC"  ng-submit="quiz.check(color.Tigrigna)">
       <tr><td><img class="word-img" ng-src="{{color.Image}}"></td></tr> 
       <div ng-model="form.color" id={{color.Tigrigna}} style="height: 100px; width: 100px; background-color: lightgrey; display: inline-block"></div>
       <label>{{color.English}}</label>
   </form>
</div>
<button class="btn btn-inf btn-lg" type="submit">Check</button>
   <div> {{quiz.countRightColor}}</div>






















