<div class="container">
<br><br>
    <div id="ctrlbtn">
      <!-- <a  class="btn btn-default" href="/#/quiz/quiz2">back</a> -->
      <a  class="btn btn-success" href="/#/search">continue</a>
    </div>
    <!-- <div>
     <br><br>
     <a class="btn btn-primary" href="/#/quiz" ng-show="user">Quiz</a>
  </div> -->
<div>
<tr>
      <!-- <td><a class="btn btn-primary disabled" href="/#/quiz/quiz1">Qiuz1</a></td>
      <td><a class="btn btn-primary disabled" href="/#/quiz/quiz2">Quiz2</a></td> -->
      <td><a class="btn btn-primary" href="/#/quiz/quiz3">Quiz3</a></td>
</tr>
</div>   
<h3><strong>colors</strong></h3>
<h4>Match by dragging to the right spot</h4>

<!--solution 1 -->
<div ng-repeat="color in quiz.colors">
 <form name="formC"  ng-submit="quiz.check(color.Tigrigna)">
    <!--<div class="btn btn-primary">-->
      <img ng-src="{{color.Image}}" ng-hide="!color.Image" class="word-img"  data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="color" jqyoui-draggable="{animate:true}">
    <!--</div>-->
    <div class="thumbnail" data-drop="true" data-jqyoui-options ng-model="answer1" jqyoui-droppable style="height: 100px; width: 200px; background-color: lightgrey; display: inline-block">
      <img ng-src="{{answer1.Image}}" data-drag="false" data-jqyoui-options ng-model="answer1" jqyoui-draggable  ng-hide="!answer1.Image" class="word-img" >
      <!-- <span>{{color.Tigrigna}}</span> -->
    </div>
    <!-- <div class="btn btn-success"></div> -->  <span>{{color.Tigrigna}}</span> 
  </form>
  
</div> 
</div>





















