<div class="container">
<br><br>
    <h1 ng-show="user"> {{user.password.email}}'s Learning progress</h1>
    <a class="btn btn-primary" href="/#/vocabulary" ng-show="user">Vocabulary</a>
    <a class="btn btn-primary" href="/#/greetings" ng-show="user">Greetings</a>
    <a class="btn btn-primary" href="/#/cards" ng-show="user">Cards</a>
    <a class="btn btn-primary" href="/#/quiz" ng-show="user">Quiz</a>
  </div>
<h1 class="text-center"><strong>Quiz</strong></h1>
<div>
<tr>
      <td><a class="btn btn-primary" href="/#/quiz">Days&Months</a></td>
      <td><a class="btn btn-primary" href="/#/quiz">Animals</a></td>
</tr>
</div>
<div id="quizp">
<h3><strong>Days</strong></h3>
<p>write its translation in Tigrigna</p>
<div ng-repeat="day in quiz.days">
   <form name="myForm" ng-submit="quiz.submit(day.English, $index)">
       <label>{{day.English}}</label>
       <input class="userInput" type="text" name="days" id={{day.English}} ng-model="form.day" value="" />
       <button type="submit" class="btn btn-primary">Submit</button>
       <button  class="btn btn-success" ng-click="quiz.correctAnswer(day.English, $index, $event)">?</button>
   </form>
</div>
<br>
   <label>Score</label>
   <div> {{quiz.correctCount}}</div>
<br><br>

<!-- <h3><strong>Animals</strong></h3>
<div ng-repeat="animal in quiz.animals">
   <form name="myForm" ng-submit="quiz.submitA(animal.English, $index)">
       <tr><td><img class="word-img" ng-src="{{animal.Image}}"></td></tr>
       <input class="userInput" type="text" id={{animal.English}} ng-model="form.animal" value="" />
       <button type="submit" class="btn btn-primary">Submit</button> 
   </form>
</div>
   <label>Score</label>
   <!-<div>{{quiz.correctCount}}</div> --> 