<div class="container">
<br><br>
    <div id="ctrlbtn">
      <a class="btn btn-success " href="/#/quiz/quiz2">continue</a>
    </div>
    <div>
      <tr>
        <td><a class="btn btn-primary" href="/#/quiz/quiz1">Qiuz1</a></td>
      </tr>
    </div>
<div id="quizp">
<h3><strong>Days</strong></h3>
<p>write its translation in Tigrigna</p>
<div ng-repeat="day in quiz.days">
   <form name="myForm" ng-submit="quiz.submit(day.English, $index)">
       <label class="control-label col-sm-2">{{day.English}}</label>
       <input class="userInput" type="text" name="days" id={{day.English}} ng-model="form.day" value="" />
       <button type="submit" class="btn btn-primary">Submit</button>
       <button  class="btn btn-success" ng-click="quiz.correctAnswer(day.English, $index, $event)">?</button>
   </form>
</div>
<br>
   <label>Score</label>
   <div>{{quiz.correctCount}}/{{quiz.totalQuestions}}</div>
   <progressbar class="progress-striped" value="quiz.getPercentage()" type="success">{{quiz.getPercentage()}}%</progressbar>
</div>
</div>