<div class="container">
<br><br>
    <div id="ctrlbtn">
      <a  class="btn btn-default" href="/#/quiz">back</a>
      <a  class="btn btn-default" href="/#/quiz/quiz2">next</a>
    </div>
<div>
<br><br>
    <!-- <h1 ng-show="user"> {{user.password.email}}'s Learning progress</h1> -->
    <a class="btn btn-primary" href="/#/quiz" ng-show="user">Quiz</a>
  </div>
<div>
<tr>
      <td><a class="btn btn-primary" href="/#/quiz/quiz1">Qiuz1</a></td>
      <td><a class="btn btn-primary" href="/#/quiz/quiz2">Quiz2</a></td>
      <td><a class="btn btn-primary" href="/#/quiz/quiz3">Quiz3</a></td>
</tr>
</div>
<div id="quizp">
<h3><strong>Days</strong></h3>
<p>write its translation in Tigrigna</p>
<div ng-repeat="day in quiz.days">
   <form name="myForm" ng-submit="quiz.submit(day.English, $index)">
       <label>{{day.English}}</label>
       <input class="userInput" type="text" name="days" id={{day.English}} ng-model="form.day" value="" />
       <button type="submit" class="btn btn-primary">Submit</button>
       <button  class="btn btn-success" ng-click="quiz.correctAnswer(day.English, $index, $event)">?</button>
   </form>
</div>
<br>
   <label>Score</label>
   <div>{{quiz.correctCount}}/{{quiz.totalQuestions}}</div>
   <progressbar class="progress-striped" value="quiz.getPercentage()" type="success">{{quiz.getPercentage()}}%</progressbar>
</div>
   











