<br><br><br>
<div class="container">
  <h3 class="text-center"><strong>Quiz time - click the quiz icon</strong></h3>
  <div id="homebtn" >
    <a><img src="images/VOCABULARYDISABLED.png" class="word-img"></a>
       <label>Vocabulary</label><br>
    <a><img src="images/greetingdisabled.png" class="word-img"></a>
       <label>Greetings</label><br>
    <a><img src="images/CARDSDISABLED.png" class="word-img"></a>
      <label>Cards</label><br>
    <a href="/#/quiz/quiz1"><img src="images/QUIZ.png" class="word-img"></a>
      <label>Quiz</label>
  </div>
</div>