<br>
<div class="container">
<br>
    <div id="ctrlbtn">
      <a  class="btn btn-success" href="/#/quiz/quiz3">continue</a>
    </div>
<div>
<tr>
      <td><a class="btn btn-primary" href="/#/quiz/quiz2">Quiz2</a></td>
</tr>
</div>
<h3><strong>Animals</strong></h3>
<p>Select the correct answer in Tigrigna</p>
<div id="quizA"></div>
<div ng-repeat="animal in quiz.animals">
   <form name="myFormA"  ng-submit="quiz.check(animal.English, $index, $event)">
     <label>ኣነ ይፈቱ / I like </label>
       <tr><td><img class="word-img" ng-src="{{animal.Image}}"></td></tr> 
       <select ng-model="form.animal" id={{animal.English}}>
          <option value="{{animal.Tigrigna}}" ng-repeat="animal in quiz.animals">
          {{animal.Tigrigna}}
          </option>
       </select> 
        <button class="btn btn-primary" type="submit">Check</button>
   </form>
</div>
   <label>Score</label>
   <div> {{quiz.totalRightAnswers}}/{{quiz.totalQuestionsA}}</div>
   <progressbar class="progress-striped" value="quiz.getPercentageA()" type="success">{{quiz.getPercentageA()}}%</progressbar>
</div>