<div class="container">
<div>
<br><br>
    <h1 ng-show="user"> {{user.password.email}}'s Learning progress</h1>
    <a class="btn btn-primary" href="/#/vocabulary" ng-show="user">Vocabulary</a>
    <a class="btn btn-primary" href="/#/greetings" ng-show="user">Greetings</a>
    <a class="btn btn-primary" href="/#/cards" ng-show="user">Cards</a>
    <a class="btn btn-primary" href="/#/quiz" ng-show="user">Quiz</a>
  </div>
<h1 class="text-center"><strong>Quiz</strong></h1>
<div>
<tr>
      <td><a class="btn btn-primary" href="/#/quiz">Days&Months</a></td>
      <td><a class="btn btn-primary" href="/#/quiz">Animals</a></td>
</tr>
</div>
<h3>Search a word</h3>
    <input type="text" ng-model="enteredValue"/>
    <button type="button" ng-click="search.findValue(enteredValue)">Search</button>
    <h6>Results</h6>
    <ul>
      <li ng-repeat="result in search.results">
        {{result.English}}|{{result.Tigrigna}}  
      </li>  
    </ul>
    <!-- <ul>
      <li ng-repeat="animal in search.animals">
        {{animal.English}}|{{animal.Tigrigna}}
      </li>
    </ul>
    <ul>
      <li ng-repeat="color in search.colors">
        {{color.English}}|{{color.Tigrigna}}
      </li>
    </ul> -->

