<div class="container">
<br><br>
<div id="ctrlbtn">
      <a  class="btn btn-default" href="/#/quiz/quiz2">back</a>
      <a  class="btn btn-default" href="/#/search">next</a>
</div>
<div>
<br><br>
    <a class="btn btn-primary" href="/#/vocabulary" ng-show="user">Vocabulary</a>
    <a class="btn btn-primary" href="/#/greetings" ng-show="user">Greetings</a>
    <a class="btn btn-primary" href="/#/cards" ng-show="user">Cards</a>
    <a class="btn btn-primary" href="/#/quiz" ng-show="user">Quiz</a>
    <a class="btn btn-primary" href="/#/home" ng-show="user">Search</a>
</div>
<h3>Search a word</h3>
    <input type="text" ng-model="enteredValue"/>
    <button type="button" ng-click="search.findValue(enteredValue)">Search</button>
    <h6>Results</h6>
    <ul>
      <li ng-repeat="result in search.results">
        {{result.English}}|<em><b>{{result.Tigrigna}}  
      </li>  
    </ul>
    
