<div class="navbar navbar-default" role="navigation" bs-navbar>
  <div class="navbar-header">
    <a class="navbar-brand" href="/#/vocabulary">Vocabulary</a>
  </div>
  <ul class="nav navbar-nav">
    <li data-match-route="/general"><a href="/#/vocabulary/general">General</a></li>
    <li data-match-route="/numbers"><a href="#/vocabulary/number">Numbers</a></li>
    <li data-match-route="/days"><a href="#/vocabulary/days">Days</a></li>
    <li data-match-route="/time"><a href="#/vocabulary/time">Time</a></li>
  </ul>
</div>

