<br><br><br>
<div class="container">
  <h3 class="text-center"><strong>Click the Greetings tab</strong></h3>
  <div id="homebtn" >
    <a><img src="images/VOCABULARYDISABLED.png" class="word-img"></a>
       <label>Vocabulary</label><br>
    <a   href="/#/greetings"><img src="images/GREETINGS.png" class="word-img"></a>
       <label>Greetings</label><br>
    <a><img src="images/CARDSDISABLED.png" class="word-img"></a>
      <label>Cards</label><br>
    <a><img src="images/QUIZDISABLED.png" class="word-img"></a>
      <label>Quiz</label>
  </div>
</div>