<br><br>
<div class="container">
<br><br>
    <h3 class="text-center"><strong>Click the Fruits tab</strong></h3>
    <br><br>
    <div id="homebtn">
      <a><img src="images/colorsdisabled.png" class="word-img">
      <label>Colors</label></a>
      <a><img src="images/animaldisabled.png" class="word-img">
      <label>Animals</label></a>
      <a><img src="images/daysmnthdisabled.png" class="word-img">
      <label>Days&Months</label></a>
      <a  href="/#/vocabulary/fruits"><img src="images/fruit.jpg" class="word-img">
      <label>Fruits</label></a>
      <a><img src="images/bodyfacedisabled.png" class="word-img">
      <label>Body&Face</label></a>
    </div>
</div>