<br><br>
<div class="container">
<br><br>
  <h4 class="text-center"><strong>Click the Animals tab</strong></h4>
    <br><br>
    <div id="homebtn">
      <a ><img src="images/colors.png" class="word-img">
      <label>Colors</label></a>
      <a href="/#/vocabulary/animals"><img src="images/animal.jpg" class="word-img">
      <label>Animals</label></a>
      <a><img src="images/daysmnth.png" class="word-img">
      <label>Days&Months</label></a>
      <a><img src="images/fruit.jpg" class="word-img">
      <label>Fruits</label></a>
      <a><img src="images/bodyface.jpg" class="word-img">
      <label>Body&Face</label></a>
    </div>   
</div>

